.dashboard-main {
    display: flex;
    justify-content: center;
    margin-top: 90px;

    .dashboard-content {
        //width: 70%;
    
        //display: flex;
        //justify-content: center;
        //align-items: center;
}
}